/* Apply box-sizing to include padding and border in the element's total width and height */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling for background, font, and spacing */
body {
    background-image: url("Images/Asset 16@4x.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-blend-mode: lighten;
    background-color: #edefee;
    font-family: 'Markazi Text', serif;
    font-size: 1.2rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%; /* Set a maximum width for larger screens */
}


header,main,footer{
    max-width:3000px;
    margin:auto;
    position: relative;     
}

.modal_bg{
    opacity:0.8;
    transition: 0.2s;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1042;
    overflow: hidden;
    position: fixed;
    background: #1e1e1e;
    visibility: hidden;
}
.modal_wrap{
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1043;
    position: fixed;
    outline: none !important;
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
}

.modal_container {
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    box-sizing: border-box;
    transition: all 0.3s ease-out;
    opacity: 0;
}

.modal_container:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}
.modal_content{   
    max-width: calc(100% - 5px);
    cursor: auto; 
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1045;
}
.modal_dialog{
    max-width: 900px;
    min-width: 600px;
    width: 90%;
    background: #fff;
    padding: 20px 30px;
    text-align: left;
    margin: 40px auto;
    position: relative;
    border-radius: 5px;
}
.modal_figure{
    visibility: visible;
    cursor: pointer;
    line-height: 0;
}
.modal_figure:after {
    content: '';
    position: absolute;
    left: 0;
    top: 40px;
    bottom: 40px;
    display: block;
    right: 0;
    width: auto;
    height: auto;
    z-index: -1;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.6);
    background: #444;
}
.modal_figure figure{
    margin:0;

}

img.modal_img{
    width: auto;
    max-width: 100%;
    height: auto;
    line-height: 0;
    box-sizing: border-box;
    padding: 40px 0 40px;
    margin: 0 auto;
    vertical-align: middle;
    border: 0;
    opacity: 0;
    transition: opacity 0.3s cubic-bezier(0.47, 0, 0.75, 0.72);
}

.modal_bottom_bar{
    margin-top: -36px;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    cursor: auto;
}
.modal_title {
    text-align: left;
    line-height: 18px;
    color: #F3F3F3;
    word-break: break-word;
    padding-right: 36px;
}
.modal_counter {
    position: absolute;
    top: 0;
    right: 0;
    color: #fff;
    font-size: 12px;
    line-height: 18px;
}
button.modal_close{
    overflow: visible;
    cursor: zoom-out;
    background: transparent;
    border: 0;
    display: none;
    outline: none;
    padding: 0;
    z-index: 1046;
    box-shadow: none;
    touch-action: manipulation;
    width: 100%;
    height: 44px;
    line-height: 44px;
    position: absolute;
    right: 0;
    padding-right: 6px;
    top: 0;
    text-decoration: none;
    text-align: right;
    opacity: 1;
    color: #fff;
    font-style: normal;
    font-size: 28px;
    user-select: none;
}
.modal_close:hover{
    opacity: 0.65;
}

.modal_preloader{
    color: #CCC;
    position: absolute;
    top: 50%;
    width: auto;
    text-align: center;
    margin-top: -0.8em;
    left: 8px;
    right: 8px;
    z-index: 1044;
}

.modal_arrow{
    position: absolute;
    opacity: 1;
    overflow: visible;
    margin: 0;
    top: 50%;
    margin-top: -55px;
    width: 90px;
    height: 110px;
    cursor: pointer;
    border: 0;
    appearance: none;
    box-shadow: none;
    display: block;
    padding: 0;
    background: 0 0 ;
    z-index: 1046;
}
.modal_arrow_left {
    left: 0;
}
.modal_arrow_right {
    right: 0;
}
.modal_arrow:before,.modal_arrow:after{
    content: "";
    display: block;
    width: 0;
    height: 0;
    position: absolute;
    left: 0;
    top: 0;
    margin-top: 35px;
    margin-left: 35px;
    border: inset transparent;
}
.modal_arrow:before{
    border-top-width: 21px;
    border-bottom-width: 21px;
    opacity: .7;
}
.modal_arrow::after{
    border-top-width: 13px;
    border-bottom-width: 13px;
    top: 8px;
}
.modal_arrow_left:before{
    margin-left: 25px;
    border-right: 27px solid #3f3f3f;
}
.modal_arrow_left:after{
    border-right: 17px solid #fff;
    margin-left: 31px;
}
.modal_arrow_left:hover::after{
    border-right: 17px solid #FFDEA0;
}
.modal_arrow_right:hover::after{
    border-left: 17px solid #FFDEA0;
}
.modal_arrow_right:before{
    border-left: 27px solid #3f3f3f;
}
.modal_arrow_right:after{
    border-left: 17px solid #fff;
    margin-left: 39px;
}


/* Common margin for main, header, nav, and footer */
main, header, nav, footer {
    margin: 0.75rem auto;
}

/* Header image styling with rotation animation */
header > img {
    display: block;
    width: 100%; /* Adjusted width to fill the container */
    max-width: 240px; /* Set a maximum width for larger screens */
    margin-left: auto;
    margin-right: auto;
    animation: logo 10s infinite; /* Apply rotation animation */
}

/* Rotation animation keyframes */
@keyframes logo {
    20% { transform: rotate(15deg); } 
    40% { transform: rotate(-10deg); } 
    60% { transform: rotate(5deg); } 
    80% { transform: rotate(-5deg); } 
    100% { transform: rotate(0deg); } 
}

/* Navigation styling with shadow, background color, and spacing */
nav {
    padding: 0.3rem;
    background-color: rgb(241, 238, 233);
    box-shadow: 0.5rem 0.5rem 3rem grey;
    border-radius: 1.5rem;
    margin-bottom: 2rem;
}

/* Navigation list styling with flex display and space-around alignment */
nav ul {
    list-style: none;
    text-align: center;
    margin: 0.7rem 0.7rem;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-around;
}

/* Navigation item styling with background color, padding, and border radius */
nav li {
    display: inline-block;
    background-color: #769e0f;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 700;
    margin: 0 0.1rem;
}

/* Navigation link styling with color, text-decoration, and transition effect */
nav a {
    color: antiquewhite;
    text-decoration: none;
    transition: padding 0.3s, font-size 0.3s; /* Add smooth transition effect */
}

/* Navigation link hover styling with increased padding and font size */
nav a:hover {
    padding: 0.6rem 0.85rem;
    font-size: 1.3rem;
}

/* Heading styles with margin-bottom */
h2, h3 {
    margin-bottom: 0.7rem;
}

/* Style for dropdown submenu */
.menu_item_has_children:hover .submenu {
    display: block;
}

.submenu {
    display: none;
    position: absolute;
    background-color: rgb(241, 238, 233);
    box-shadow: 0.5rem 0.5rem 3rem grey;
    border-radius: 1.5rem;
    margin-top: 0.3rem;
}

.submenu li {
    display: block;
    background-color: #769e0f;
    padding: 0.5rem 0.75rem;
    border-radius: 0.5rem;
    font-weight: 700;
    margin: 0.1rem 0;
}

.submenu a {
    color: antiquewhite;
    text-decoration: none;
    transition: padding 0.3s, font-size 0.3s;
}

.submenu a:hover {
    padding: 0.6rem 0.85rem;
    font-size: 1.3rem;
}

/* Main */
main {
    flex: 1;
    gap: 1rem;
    display: flex;
    flex-direction: column;
  }
  
  /* Section 1 - Banner */
  main section:nth-child(1) {
    position: relative;
    width: 100%;
    height: 36rem;
  }
  
  main section:nth-child(1) img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    object-position: top;
    opacity: 0.4; /* Faded image */
  }
  
  .overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    animation: moveBG 5s infinite linear;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: rgb(20, 12, 12); /* Changed to white text */
    user-select: none;
  }
  
  .overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }
  
  .overlay p {
    font-size: 1.5rem;
    text-transform: uppercase;
  }
  
  /* Animation for moving background */
  @keyframes moveBG {
    0% {
      background-position: left;
    }
    50% {
      background-position: right;
    }
    100% {
      background-position: left;
    }
  }
  
 
  
  
  
section {
    display: flex;
    text-align: center;
    padding: 0.75rem 0;
    justify-content: center;
}

article {
    flex: 1;
}

#offer {
    background-color: #a38947;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    border-radius: 0.5rem;
    margin: 0 0.75rem;
}

#offer > p {
    color: rgb(241, 238, 233);
    font-size: 2.5rem;
    font-weight: bold;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    margin: 0 0.75rem;
}

#offer > img {
    border-radius: 0 0.5rem 0.5rem 0;
    width: 30%;
    height: 100%;
}

#offer a {
    display: block;
    float: right;
    background-color: #089716;
    color: rgb(241, 238, 233);
    padding: 0.8rem;
    margin-top: 0.7rem;
    text-decoration: none;
    font-size: 1.2rem;
    box-shadow: 0.3rem 0.3rem 1rem #e9cf8e;
    border-radius: 3rem;
}

#offer a:hover {
    padding: 0.9rem;
}

#service h1 {
    color: rgb(241, 238, 233);
    background-color: #089716;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 0;
    padding: 1rem;
    font-size: 2.5rem;
    border-radius: 0.7rem;
    font-family: Urbanist;
}

#service, #info {
    border-radius: 0.5rem;
    margin-top: 2rem;
}

#info {
    background-color: #a38947;
}

#info article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin: 1.2rem;
    padding: 0.5rem;
    background-color: #e9cf8e;
    border-radius: 0.5rem;
}

#info p {
    text-align: justify;
}

#info li {
    list-style: none;
}

#info img {
    width: 100%;
    border-radius: 0.5rem;
    margin-bottom: 0.7rem;
}

#info figcaption {
    font-family: Urbanist;
}

#info a {
    text-decoration: none;
    color: #089716;
    font-weight: 800;
    font-size: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: 0.5rem 0.5rem 3rem grey;
    background-color: rgb(241, 238, 233);
    font-size: small;
}
/* Apply styles to the opening_hours_section */
.opening_hours_section {
    background-color: #f5f5f5; /* Set a background color */
    padding: 20px; /* Add some padding */
    transition: box-shadow 0.3s ease-in-out; /* Add transition for smooth effect */
}

/* Style the address_box */
.address_box {
    border: 1px solid #ccc; /* Add a border */
    padding: 20px; /* Increase padding to the address box for a more spaced look */
}

/* Style the opening hours text */
.address_box p {
    margin: 10px 0; /* Add more margin between each opening hour */
    font-size: 18px; /* Increase the font size for a more classy look */
    color: #070606; /* Set the text color */
}

/* Add glow effect on hover */
.opening_hours_section:hover {
    box-shadow: 0 0 20px rgba(4, 255, 0, 0.9); /* Increase shadow size and make the glow more intense */
}



footer > div {
    flex: 1;
    margin: 0.7rem 0.7rem;
    text-align: center;
}

footer img {
    width: 30%;
    min-width: 7rem;
}

@media (max-width: 800px) {
    nav ul {
        flex-direction: column;
        background-color: #9cce1f;
        border-radius: 0.5rem;
    }
    #offer > p {
        font-size: 1rem;
    }
    #offer a {
        font-size: 0.8rem;
    }
    #offer img {
        border-radius: 0 0 0.5rem 0.5rem;
    }

    #info {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 500px) {
    #offer {
        flex-direction: column-reverse;
    }
    
}

